.item {
    width: 100px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 16px;
    content-visibility: auto;
}
.item:hover {
    border: 1px solid var(--color5);
    padding: 15px;
}
.name {
    text-align: center;
}
.image {
    object-fit: contain;
}

@media (max-width: 420px) {
    .item {
        margin: 0;
    }
}
