.professions {
    width: 350px;
    min-height: 200px;
    box-shadow: 2px 2px 5px var(--shadowDetail);
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    transform: scale(1);
    transition: all;
    transition-duration: .3s;
    position: relative;
    border: 1px solid var(--color3);
}
.wipCont {
    border: 1px solid var(--color4);
}
.professions:hover {
    box-shadow: 2px 2px 10px var(--shadowColor);
    transform: scale(1.025);
}
.title {
    font-size: 32px;
    margin-bottom: 16px;
}
.description {
    font-size: 22px;
}
.container {
    height: 100%;
    width: 350px;
}
.wip {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--shadowColor4);
    background: repeating-linear-gradient( -45deg, var(--color4), var(--color4) 5px, var(--shadowColor4) 5px, var(--shadowColor4) 25px );
    z-index: 1;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wipText {
    visibility: hidden;
    position: relative;
}
.wip:hover .wipText {
    position: absolute;
    left: 0;
    top: -22px;
    visibility: visible;
    font-size: 14px;
    color: var(--color4);
}
